div#container {
  background: var(--primary);
}

#main {
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
}

section.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 2rem;
  height: calc(100vh - var(--header-height) - 3rem);

  transition: all 0.2s;

  h1 {
    font: normal 900 5.8rem "Chivo", sans-serif;
    line-height: 8rem;
    color: var(--foreground);

    transition: all 0.2s;

    animation: colorCycle 10s ease-in-out infinite;

    &::selection {
      background-color: var(--secondary);
      color: var(--primary);
    }
  }

  p {
    font-size: 1.5rem;
    text-align: center;
    color: var(--gray-300);
  }

  > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 3rem 0.5rem 0.5rem;

    button {
      width: 100px;
      height: 36px;
      padding: 0.2rem;
      font-size: 1.2rem;

      border-radius: var(--border-radius-xlarge);

      transition: all 0.2s;

      &:hover {
        filter: brightness(1.2);
      }
      &.signup {
        background: var(--foreground);
        color: var(--black);

        font-weight: bold;
      }
      &.login {
        background: var(--tertiary);
        color: var(--white);
      }
    }
  }
}

section.artists {
  width: 100%;
  > .artistCoverage {
    margin-left: 5rem;

    .artistGroup {
      margin-bottom: 1rem;
      h2 {
        margin-bottom: 0.5rem;
        font-size: 2rem;
        font-weight: bold;
        color: var(--gray-100);
      }

      article {
        .controller {
          display: flex;
          gap: 0.5rem;
          margin-bottom: 0.2rem;

          button {
            width: 70px;
            height: 100%;
            padding: 0.5rem;

            transition: all 0.2s;

            border-radius: var(--border-radius-xlarge);
            background: var(--gray-300);
            color: var(--black);

            &:hover {
              filter: brightness(1.2);
            }
          }
        }
      }
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;

  > .card {
    position: relative;
    overflow: hidden;
    cursor: pointer;

    width: 273px;
    height: 372px;
    transition: all 0.2s;
    border-radius: var(--border-radius-xlarge);

    &:hover {
      transform: scale(1.01);
    }

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: all 0.2s;
      border-radius: var(--border-radius-xlarge);

      &:hover {
        transform: scale(1.2);
      }
    }

    div {
      position: absolute;
      bottom: 0;
      left: 0;

      padding: 0.5rem;

      h3 {
        padding: 0 0.5rem;
        font-size: 1.2rem;
        font-weight: bold;

        color: var(--gray-100);
        background-color: var(--primary);
        border-radius: var(--border-radius-large);
      }
    }
  }
}

@keyframes colorCycle {
  0%,
  55% {
    filter: brightness(0) invert(1);
  }
  11%,
  33% {
    filter: none;
  }
}
